
:host {
  all: initial;
}

* {
  color: inherit;
  font: inherit;
  box-sizing: inherit;
}

#appbar {
  border-bottom: 2px solid rgb(var(--dark-300));
  color: #fff;
  font: 18px/64px 'Inter', sans-serif;
  box-sizing: border-box;
}

header {
  display: grid;
  grid: auto / auto 1fr auto;
}

nav {
  display: flex;
  gap: 36px;
  padding: 0 24px;
}

a {
  text-decoration: none;
  transition: color 125ms;

  // stylelint-disable-next-line selector-list-comma-newline-after
  &.active, &:hover {
    color: rgb(var(--red));
  }
}

.logo {
  display: block;
  width: 64px;
  background: url(tabler('bolt', 1.5px, #fff)) center / 36px no-repeat;
}
