:host {
  all: initial;
}

* {
  box-sizing: inherit;
  font: inherit;
  color: inherit;
}

#appbar {
  box-sizing: border-box;
  font: 18px/64px Inter, sans-serif;
  color: #fff;
  border-bottom: 2px solid rgb(var(--dark-300));
}

header {
  display: grid;
  grid: auto / auto 1fr auto;
}

nav {
  display: flex;
  gap: 36px;
  padding: 0 24px;
}

a {
  text-decoration: none;
  transition: color 125ms;

  // stylelint-disable-next-line selector-list-comma-newline-after
  &.active, &:hover {
    color: rgb(var(--red));
  }
}

.logo {
  display: block;
  width: 64px;
  background: tabler("bolt", 1.5px, #fff) center / 36px no-repeat;

  span {
    display: none;
  }
}
