
:host {
  all: initial;
}

* {
  color: inherit;
  font: inherit;
  box-sizing: inherit;
}

#hero {
  display: grid;
  place-items: center;
  padding: 96px 24px;
  border-bottom: 2px solid color(--dark-300);
  color: #fff;
  box-sizing: border-box;
}

// stylelint-disable-next-line selector-list-comma-newline-after
h1, h2 {
  white-space: nowrap;
}

h1 {
  margin: 0 0 calc(18em / 72); // 18px when font-size is 72px
  font-size: between(30px, 72px);
  font-weight: 700;

  > span {
    color: color(--red);
  }
}

h2 {
  margin: calc(32em / 30) 0 0; // 32px when font-size is 30px
  font-size: between(18px, 30px);
}

button {
  padding: calc(12em / 18) calc(16em / 18); // 12px 16px when font-size is 18px
  border: initial;
  border-radius: 9px;
  font-size: between(16px, 18px);
  background: rgb(var(--dark-200));
  cursor: pointer;
  transition: background 200ms;

  &.-get-started {
    $icon: tabler('arrow-right', 2, #fff);

    padding-right: 6px + 24px + 12px;
    background: color(--red) $icon center right 12px / 24px no-repeat;
  }
}

.actions {
  display: flex;
  gap: 18px;
  padding: 36px 0 0;
}
