
:host {
  all: initial;
}

* {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

#home {
  box-sizing: border-box;
  font: 16px/1 'Inter', sans-serif;
}

.page {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: linear-clamp(24px, 48px);
}
