$height: calc(48em / 18); // 48px to em

:host {
  all: initial;
}

* {
  font-size: inherit;
}

#install {
  display: flex;
  margin: linear-clamp(36px, 48px) 0 0;
  font-family: Inter, sans-serif;
  font-size: linear-clamp(16px, 18px);
}

.command {
  padding: 0 1em;

  font-family: "Source Code Pro", monospace;
  line-height: $height;
  color: color(--light-300);

  background: color(--dark-300);
  border-radius: 9px 0 0 9px;
}

span {
  user-select: none;
  font-weight: 600;
  color: color(--dark-100);
}

button {
  $color: color(--dark-200);
  $icon: tabler("copy", 2, #fff);
  $pos-left: calc(12em / 18); // 12px to em
  $bg-size: calc(24em / 18); // 24px to em

  cursor: pointer;

  overflow: hidden;

  // TODO: Remove text only after transitions are complete

  width: $height;

  color: transparent;

  background: $color $icon center left #{$pos-left} / #{$bg-size} no-repeat;
  border: initial;
  border-radius: 0 9px 9px 0;

  transition: background 200ms, color 200ms, width 150ms;

  &:hover {
    background-color: color(--dark-250);
  }

  &.-copied {
    $pad-right: calc(18em / 18); // 18px to em
    $pad-left: calc(42em / 18); // 42px to em

    width: calc(122em / 18); // 122px to em -- Width from Chrome DevTools
    padding: 0 $pad-right 0 $pad-left;
    color: #fff;
    background-color: color(--green);
  }
}
