:host {
  all: initial;
}

* {
  box-sizing: inherit;
  font: inherit;
  color: inherit;
}

#layout {
  box-sizing: border-box;
  font: 16px/1 Inter, sans-serif;
  color: #fff;
}

// main {
//   // nothing yet...
// }

footer {
  padding: 96px;
  color: color(--dark-100);
  background: color(--dark-450);
}
