
:host {
  all: initial;
}

* {
  color: inherit;
  font: inherit;
  box-sizing: inherit;
}

#guide {
  color: #fff;
  font: 16px/2 'Inter', sans-serif;
  box-sizing: border-box;
}

.page {
  $margin: clamp(24px, 48 / 1024 * 100vw, 48px);

  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 $margin;
}
