
:host {
  all: initial;
}

* {
  color: inherit;
  font: inherit;
  box-sizing: inherit;
}

#guide {
  color: #fff;
  font: 16px/2 Inter, sans-serif;
  box-sizing: border-box;
}

.page {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: linear-clamp(24px, 48px);
}
