
:host {
  all: initial;
}

* {
  color: inherit;
  font: inherit;
  box-sizing: inherit;
}

#hero {
  display: grid;
  place-items: center;
  padding: 96px 24px;
  border-bottom: 2px solid rgb(var(--dark-300));
  color: #fff;
  font: 24px/1 'Inter', sans-serif;
  box-sizing: border-box;
}

$title-size: max(36px, min(72px, (72 / 1024) * 100vw));
$subtitle-size: max(18px, min(30px, (30 / 1024) * 100vw));

// stylelint-disable-next-line selector-list-comma-newline-after
h1, h2 {
  white-space: nowrap;
}

h1 {
  margin: 0 0 12px;
  font: 700 $title-size/1 'Inter', sans-serif;

  > span {
    color: rgb(var(--red));
  }
}

h2 {
  font: $subtitle-size/1 'Inter', sans-serif;
  margin: 24px 0 0;
}

button {
  padding: 12px 18px;
  border: initial;
  border-radius: 9px;
  font: 16px/1 'Inter', sans-serif;
  background: rgb(var(--dark-200));
  cursor: pointer;
  transition: background 200ms;

  &.-get-started {
    padding-right: 6px + 24px + 12px;
    background:
      rgb(var(--red))
      url(tabler('arrow-right', 2, #fff)) center right 12px / 24px no-repeat;
  }
}

.actions {
  display: flex;
  gap: 24px;
  padding: 36px 0 0;
}
