:host {
  all: initial;
}

* {
  box-sizing: inherit;
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background: initial;
  border: initial;
}

#code-tabs {
  box-sizing: border-box;
  font: 16px/1 Inter, sans-serif;
  color: #fff;
}

.tabs {
  padding: 12px 12px 0;
  background: rgb(var(--dark-450));
  border-radius: 9px 9px 0 0;
}

.btn-tab {
  padding: 9px 18px 12px;
  border-top: 3px solid transparent;

  &.-active {
    background: rgb(var(--dark-300));
    border-top: 2px solid rgb(var(--blue));
    border-radius: 2px 2px 0 0;
  }
}

.content {
  position: relative;
  background: rgb(var(--dark-300));
  border-radius: 0 0 9px 9px;
}

.btn-copy {
  $color: color(--dark-200);
  $icon: tabler("copy", 2, #fff);

  position: absolute;
  right: 24px;
  bottom: 24px;

  overflow: hidden;

  width: 48px;
  height: 42px;

  color: transparent;

  background: $color $icon center left 12px / 24px no-repeat;
  border-radius: 9px;

  transition: background 200ms, color 200ms, width 150ms;

  &:hover {
    background-color: color(--dark-250);
  }

  &.-copied {
    width: 112px; // 112px from chrome dev tools
    padding: 0 12px 0 42px;
    color: #fff;
    background-color: color(--green);
  }
}
