
:host {
  all: initial;
}

* {
  box-sizing: inherit;

  font: inherit;
  color: inherit;
}

#tictactoe {
  box-sizing: border-box;

  font: 16px/1 Inter, sans-serif;
  color: #000;
}

button {
  cursor: pointer;

  padding: initial;

  border: initial;
}

// stylelint-disable-next-line selector-list-comma-newline-after
h1, h2, h3 {
  margin: initial;
}

.frame {
  position: relative;

  display: grid;
  grid: auto / 1fr 320px;
  gap: 24px;

  padding: 24px;
}

.game {
  h1 {
    display: flex;
    gap: 24px;
    place-content: center;

    margin: 0 0 24px;

    font: 600 48px/1 Inter, sans-serif;
    color: #fff;
    text-align: center;
  }

  button.-reset {
    padding: 0 12px 0 (12px + 36px + 12px);

    font: 24px/1 Inter, sans-serif;

    background:
      rgb(var(--red))
      tabler("refresh", 2px, #fff) center left 12px / 36px no-repeat;
    border-radius: 9px;
  }
}

.sidebar {
  padding: 18px 24px;

  color: #fff;

  background: rgba(var(--dark-300));
  border-radius: 9px;

  button {
    padding: 6px 12px;

    background: rgb(var(--red));
    border-radius: 9px;
  }

  h1 {
    font: 600 24px/1 Inter, sans-serif;
  }
}

.rule {
  display: grid;
  grid: auto / 1fr auto;
  gap: 12px;
  place-items: center left;

  margin: 24px 0 0;

  button {
    min-width: 48px;
    height: 36px;

    background: rgb(var(--red)) center / 24px no-repeat;

    &.circle-minus {
      background-image: tabler("circle-minus", 2px, #fff);
    }

    &.circle-plus {
      background-image: tabler("circle-plus", 2px, #fff);
    }
  }
}

.actions {
  display: flex;
  gap: 12px;
}

.player {
  display: grid;
  grid: auto / 1fr auto;
  gap: 12px;

  div {
    display: flex;
    gap: 12px;
  }
}

.board {
  --size: repeat(var(--board-size), 1fr);

  display: grid;
  grid: var(--size) / var(--size);
  gap: 4px;

  max-width: 75vh;
  margin: auto;

  background: rgb(var(--red));

  button {
    display: flex;
    place-content: center;
    place-items: center;

    color: #fff;

    background: rgb(var(--dark-300));

    transition: background 125ms;

    svg {
      margin: auto;

      text {
        dominant-baseline: central;
        text-anchor: middle;
        fill: currentcolor;
      }
    }
  }

  button::before {
    content: "";

    display: block;

    padding: 100% 0 0;
  }

  button:hover {
    background: rgb(var(--dark-300) 0.75);
  }
}
