
@use "sass:map";
@import "../../colors";

.group {
  display: flex;

  > div {
    width: 96px;
    height: 96px;

    @each $key, $value in $color-map {
      &.#{$key} {
        background: rgb(var(--#{$key}));
      }
    }
  }
}
