
@use 'sass:map';

// Okhsl
// h = 0 to 360 -- Hue
// s = 0 to 100 -- Saturation (Okhsl)
// l = 0 to 100 -- Lightness

$rainbow: (
  'red':  okhsl(23, 100, 64),
  'yellow': okhsl(90, 100, 85),
  'green':  okhsl(160, 100, 70),
  'blue':   okhsl(250, 100, 65),
  'purple': okhsl(310, 100, 65)
);

$light: (
  'light-500': okhsl(240, 20, 70 + 5),
  'light-400': okhsl(240, 20, 75 + 5),
  'light-300': okhsl(240, 20, 80 + 5),
  'light-200': okhsl(240, 20, 85 + 5),
  'light-100': okhsl(240, 20, 90 + 5)
);

$dark: (
  'dark-500': okhsl(240, 25, 10),
  'dark-400': okhsl(240, 25, 15),
  'dark-300': okhsl(240, 25, 20),
  'dark-200': okhsl(240, 25, 25),
  'dark-100': okhsl(240, 25, 30)
);

$color-map: map.merge($rainbow, $light);
$color-map: map.merge($color-map, $dark);

:root {
  @each $key, $value in $color-map {
    --#{$key}: #{rgb-string($value)};
  }
}
