button {
  padding: 12px;

  font-size: 16px;
  color: white;

  background: dodgerblue;
  border-radius: 12px;
}

.page {
  padding: 24px;
}

.collection {
  display: grid;
  gap: 6px;
}

.item {
  display: flex;
  gap: 12px;

  padding: 12px;

  background: gray;
  border-radius: 12px;
}
